In [1]:
import pandas as pd

In [2]:
from rtoru import model as rt

exchanges = set(i.id for i in rt.exchanges)

Set parameter Username
Set parameter GURO_PAR_SPECIAL
Set parameter TokenServer to value "leghorn"

In [3]:
from concerto.helpers.biolog_to_exchange import biolog_map

In [4]:
fname = 'Table_2_Multi-Omics Driven Metabolic Network Reconstruction and Analysis of Lignocellulosic Carbon Utilization in Rhodosporidium toruloides.XLSX'

bl_data = pd.read_excel(fname, sheet_name='Biolog')
bl_data['growth'] = bl_data['Average > 0.1 and all replicates greater than negative control']

In [5]:
bl_data.PlateType.unique()

array(['PM1', 'PM2', 'PM3B', 'PM4A'], dtype=object)

In [6]:
biolog_map

       plate        ex_rxn             compound_name      exchange
0    PM1-A10     EX_tre(e)               D-Trehalose      EX_tre_e
1    PM1-A11     EX_man(e)                 D-Mannose      EX_man_e
2    PM1-A12    EX_galt(e)                  Dulcitol     EX_galt_e
3     PM1-A2  EX_arab_L(e)               L-Arabinose  EX_arab__L_e
4     PM1-A3   EX_acgam(e)     N-Acetyl-DGlucosamine    EX_acgam_e
..       ...           ...                       ...           ...
153   PM4-D6  EX_pser_L(e)        O-Phospho-L-Serine  EX_pser__L_e
154   PM4-D7    EX_thrp(e)     O-Phospho-L-Threonine     EX_thrp_e
155   PM4-D9    EX_3ump(e)  Uridine-3’-monophosphate     EX_3ump_e
156   PM4-E1    EX_tyrp(e)      O-Phospho-D-Tyrosine     EX_tyrp_e
157  PM4-E11  EX_minohp(e)     InositolHexaphosphate   EX_minohp_e

[158 rows x 4 columns]

In [7]:
bl_data['plate'] = bl_data.PlateType + '-' + bl_data.Well
bl_data.growth = bl_data.growth.astype(bool)
bl_data.head()

,PlateType,Experiment,Well,Compound,Average ABS (590nm - 750nm),All replicates > negtive control,Average > 0.1,Average > 0.1 and all replicates greater than negative control,pVal (T-test),growth,plate
0,PM1,Carbon,A1,Negative Control,0.086400,False,False,False,0.500000,False,PM1-A1
1,PM1,Carbon,A2,L-Arabinose,0.344767,True,True,True,0.000082,True,PM1-A2
2,PM1,Carbon,A3,N-Acetyl-DGlucosamine,0.068867,False,False,False,0.030610,False,PM1-A3
3,PM1,Carbon,A4,D-Saccharic Acid,0.071200,False,False,False,0.015131,False,PM1-A4
4,PM1,Carbon,A5,Succinic Acid,0.111200,True,True,True,0.081596,True,PM1-A5

In [8]:
bl_data.PlateType.unique()

array(['PM1', 'PM2', 'PM3B', 'PM4A'], dtype=object)

In [9]:
bl_data.Experiment.unique()

array(['Carbon', 'Nitrogen', 'Phosphorus', 'Sulfur'], dtype=object)

In [10]:
carbon_plate = bl_data.loc[bl_data.PlateType.isin(['PM1', 'PM2'])].copy()
nitrogren_plate = bl_data.loc[bl_data.PlateType.isin(['PM3B'])].copy()
nitrogren_plate.plate = nitrogren_plate.plate.str.replace('B', '')

phosh_plate =  bl_data.loc[bl_data.Experiment.isin(['Phosphorus'])].copy()
phosh_plate.plate = phosh_plate.plate.str.replace('A', '')

sulfer_plate =  bl_data.loc[bl_data.Experiment.isin(['Sulfur'])].copy()
sulfer_plate.plate = sulfer_plate.plate.str.replace('A', '')

In [11]:
sulfer_plate.head(5)

,PlateType,Experiment,Well,Compound,Average ABS (590nm - 750nm),All replicates > negtive control,Average > 0.1,Average > 0.1 and all replicates greater than negative control,pVal (T-test),growth,plate
348,PM4A,Sulfur,F1,Negative Control,0.078800,False,False,False,0.500000,False,PM4-F1
349,PM4A,Sulfur,F2,Sulfate,0.233500,True,True,True,0.008887,True,PM4-F2
350,PM4A,Sulfur,F3,Thiosulfate,0.256500,True,True,True,0.000645,True,PM4-F3
351,PM4A,Sulfur,F4,Tetrathionate,0.194367,True,True,True,0.001838,True,PM4-F4
352,PM4A,Sulfur,F5,Thiophosphate,0.216967,True,True,True,0.000011,True,PM4-F5

In [12]:
nitrogren_plate[['plate', 'Compound', 'growth']]

       plate          Compound  growth
192   PM3-A1  Negative Control   False
193   PM3-A2           Ammonia    True
194   PM3-A3           Nitrite    True
195   PM3-A4           Nitrate    True
196   PM3-A5              Urea    True
..       ...               ...     ...
283   PM3-H8           Gly-Asn    True
284   PM3-H9           Gly-Gln    True
285  PM3-H10           Gly-Glu    True
286  PM3-H11           Gly-Met    True
287  PM3-H12           Met-Ala    True

[96 rows x 3 columns]

In [13]:
biolog_map

       plate        ex_rxn             compound_name      exchange
0    PM1-A10     EX_tre(e)               D-Trehalose      EX_tre_e
1    PM1-A11     EX_man(e)                 D-Mannose      EX_man_e
2    PM1-A12    EX_galt(e)                  Dulcitol     EX_galt_e
3     PM1-A2  EX_arab_L(e)               L-Arabinose  EX_arab__L_e
4     PM1-A3   EX_acgam(e)     N-Acetyl-DGlucosamine    EX_acgam_e
..       ...           ...                       ...           ...
153   PM4-D6  EX_pser_L(e)        O-Phospho-L-Serine  EX_pser__L_e
154   PM4-D7    EX_thrp(e)     O-Phospho-L-Threonine     EX_thrp_e
155   PM4-D9    EX_3ump(e)  Uridine-3’-monophosphate     EX_3ump_e
156   PM4-E1    EX_tyrp(e)      O-Phospho-D-Tyrosine     EX_tyrp_e
157  PM4-E11  EX_minohp(e)     InositolHexaphosphate   EX_minohp_e

[158 rows x 4 columns]

In [14]:
def merge_with_plate(plate):
    merged = pd.concat(
        [plate.set_index('plate'), biolog_map.set_index('plate')],
        axis=1,
        ignore_index=False
    )
    merged.dropna(subset=['growth', 'ex_rxn'], inplace=True)

    merged = merged.reset_index()
    merged#[['exchange', 'growth']]
    merged = subset_to_in_model(merged)[['exchange', 'growth']]
    merged['uptake'] = 10
    return merged

def subset_to_in_model(plate, model_ex=exchanges):
    return plate.loc[plate.exchange.isin(model_ex)]

carbon = merge_with_plate(carbon_plate)
nit = merge_with_plate(nitrogren_plate)
sulf = merge_with_plate(sulfer_plate)
phos = merge_with_plate(phosh_plate)

In [15]:
sulf

Empty DataFrame
Columns: [exchange, growth, uptake]
Index: []

In [16]:
phos

        exchange growth  uptake
0      EX_3gmp_e   True      10
1       EX_gmp_e   True      10
2    EX_23cgmp_e   True      10
3       EX_g1p_e   True      10
4       EX_g6p_e   True      10
5     EX_gam6p_e   True      10
6      EX_3cmp_e  False      10
7       EX_cmp_e   True      10
8    EX_23ccmp_e   True      10
9     EX_man6p_e   True      10
10  EX_pser__L_e   True      10
11     EX_thrp_e   True      10
12     EX_3ump_e   True      10
13      EX_ump_e   True      10
14   EX_23cump_e   True      10
15     EX_tyrp_e   True      10
16   EX_minohp_e   True      10

In [17]:
carbon.to_csv('../carbon_biolog.csv', index=False)
nit.to_csv('../nit_biolog.csv', index=False)
phos.to_csv('../phos_biolog.csv', index=False)
sulf.to_csv('../sulf_biolog.csv', index=False)